
<div class="container">
  <form class="formDesign">
    <label>ID:</label><br>
    <input type="text" id="sID" name="sID" placeholder="Enter your ID" [(ngModel)]="id"><br>

    <label>Name:</label><br>
    <input type="text" id="sName" name="sName" placeholder="Enter your Name" [(ngModel)]="name"><br>

    <label>Department:</label><br>
    <input type="text" id="sDepartment" name="sDepartment" placeholder="Enter your Department" [(ngModel)]="department"><br>

    <label>Semester:</label><br>
    <input type="text" id="sSemester" name="sSemester" placeholder="Enter your Semester" [(ngModel)]="semester"><br>

    <label>Gender:</label><br>
    <input type="text" id="sGender" name="sGender" placeholder="Enter your Semester" [(ngModel)]="gender"><br>
    
    <label>Religion:</label><br>
    <input type="text" id="sreligion" name="sreligion" placeholder="Enter your Semester" [(ngModel)]="religion"><br>

    <label>Age:</label><br>
    <input type="text" id="sAge" name="sAge" placeholder="Enter your age" [(ngModel)]="age"><br>

    <button type="button" (click)="showInformation()">Enter</button>
  </form>
</div>


<div class="container">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Department</th>
      <th>Semester</th>
      <th>Semester</th>
      <th>Religion</th>
      <th>Age</th>
    </tr>
    <tr *ngFor="let s of studentInformation">
      <td>{{s.id}}</td>
      <td>{{s.name}}</td>
      <td>{{s.department}}</td>
      <td>{{s.semester}}</td>
      <td>{{s.gender}}</td>
      <td>{{s.religion}}</td>
      <td>{{s.age}}</td>
    </tr>
  </table>
</div>